@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

:root {
    --black: 0 0 0;
    --white: 255 255 255;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
        'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
        'Helvetica Neue', sans-serif;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

/* Properties */
.MuiAlert-root {
    width: 50vh !important;
}

.MuiTableRow-hover:hover {
    cursor: pointer;
}

button:disabled,
input:disabled {
    pointer-events: none !important;
}

.error {
    color: red;
}

.w-auto {
    width: auto !important;
}

.border-box {
    box-sizing: border-box !important;
}

.w-100 {
    width: 100% !important;
}

.h-100 {
    height: 100% !important;
}

.p-0 {
    padding: 0px !important;
}

.p-10 {
    padding: 10px !important;
}

.p-15 {
    padding: 15px !important;
}

.m-10 {
    margin: 10px !important;
}

.m-20 {
    margin: 20px !important;
}

.mt-10 {
    margin-top: 10px !important;
}

.mt-30 {
    margin-top: 30px !important;
}

.mb-10 {
    margin-bottom: 10px !important;
}

.ml-10 {
    margin-left: 10px !important;
}

svg {
    margin: auto;
    display: block;
}

button {
    border: none;
    cursor: pointer;
    background-color: transparent;
}

@media only screen and (max-width: 600px) {
    .MuiSnackbar-root {
        right: 8px !important;
    }
}
